<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>product-rest</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <login-config>
    <auth-method>KEYCLOAK</auth-method>
    <realm-name>canoo</realm-name>
  </login-config>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-constraint>
    <display-name>products</display-name>
    <web-resource-collection>
      <web-resource-name>products</web-resource-name>
      <url-pattern>/rest/products/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>